@model Genre
<div page-header>
    <h1>Genre detail</h1>
</div>
<div class="container">
<label>Id : </label>
<label>@Model.Id</label>
</div>
<div class="container">
    <label>Name : </label>
    <label>@Model.Name</label>
</div>